<br/><h1>Displaying Students</h1>

<% @students.each do |student| %>
  <div class="disp" style="border:2px solid <%= student.color %>; width:<%= student.weight %>px; height:<%= student.height * 3 %>px;";>
    <br>Name: <font color="<%= student.color %>"><%= student.name %></font>
    <br>GPA: <%= student.gpa %>
    <!--<br>GPA rank is < %= %>-->
  </div>
<% end %>

<%= link_to '<button class="new">Back</button>'.html_safe, students_path %>
