<br/><p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @student.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @student.height %>
</p>

<p>
  <strong>Color:</strong>
  <%= @student.color %>
</p>

<p>
  <strong>Gpa:</strong>
  <%= @student.gpa %>
</p>

<%= link_to '<button class="edit">Back</button>'.html_safe, students_path %>
<%= link_to '<button class="edit">Edit</button>'.html_safe, edit_student_path(@student) %>
<%= link_to '<button class="edit">Delete</button>'.html_safe, @student, method: :delete, data: { confirm: 'Are you sure you want to delete this student?' } %>

